body
	{
		margin:100px;
		padding:0px;
	}
.text
	{
		font-family: Verdana, sans-serif;
		line-height: 1.3;
	}
.font
	{
		font-family: Verdana, sans-serif;
	}
.background
		{
			position:fixed;
			top:0px;
			right:0px;
			bottom:0px;
			left:0px;
			z-index:-2;
			width:100%;
			height:100%;
			min-height:100%;
			min-width:100%;
			background-size:cover;
		}
.banner
		{
		}
#div_banner
	{
		height:180px;
		width:1600px;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		position:absolute;
		border: 0px solid;
		border-color:#FFFFFF;
	}
#div_outline
	{
		width:1120px;
		height:675px;
		top:180px;
		left:240px;
		right:240px;
		bottom:0px;
		position:absolute;
		background-image:url('../../image/red.png');
		border: 5px ridge;
		border-color:#000000;
		border-radius:20px;
	}
#div_navigation
	{
		width:145.6px;
		height:648px;
		top:20.25px;
		left:11.2px;
		right:11.2px;
		bottom:13.5px;
		position:absolute;
		border: 0px solid;
	}
#div_body
	{
		width:929.6px;
		height:634.5px;
		top:20.25;
		left:168px;
		right:11.2px;
		bottom:13.5px;
		position:absolute;
		border: 5px ridge;
		border-color:#D8BE9F;
		background:#EBCEAC;
	}
#div_about
	{
		width:929.6;
		height:253.6px;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		position:absolute;
	}
#div_schedule
	{
		width:464.5px;
		height:221.9px;
		top:253.6px;
		left:0px;
		right:0px;
		bottom:0px;
		position:absolute;
		border: 0px solid;
		padding:0% 1% 0% 1%;
	}
#div_contact
	{
		width:464.6px;
		height:158.5px;
		top:475.5px;
		left:0px;
		right:0px;
		bottom:0px;
		position:absolute;
		border: 0px solid;
		padding:0% 1% 0% 1%;
	}
#div_calendar
	{
		width:371.6px;
		height:348.7px;
		top:240.92px;
		left:464.5px;
		right:0px;
		bottom:0px;
		position:absolute;
		border: 1px solid;
	}
#nameTeacher
	{
		width:919.71px;
		background-color:#600000;
		height:37.95px;
		text-align:left;
		padding:3px 12px 0px 0px;
		color:white;
		font-family: "Verdana", Sans-Serif;
		padding:0% 0% 0% 1%;
	}
#descriptionDepartment
	{
		width:919.71px;
		background-color:#002266;
		height:32.89px;
		color:white;
		font-family: "Verdana", Sans-Serif;
		padding:0% 0% 0% 1%;
	}
#photoProfile
	{
		width:882.55px;
		position:absolute;
		top:75.9px;
		left:9.29px;
	}
#descriptionTeacher
	{
		width:650.3px;
		height:101.2px;
		left:185.8px;
		position:absolute;
		padding:0% 1% 0% 1%;
		border: 0px solid;
	}
.table_classes
	{
		width: 348.375px;
		text-align:left;
		font-family: Verdana, sans-serif;
	}